.menuWrapper {
  display: flex;

  li {
    display: flex;
    text-align: center;
    list-style-type: none;
    margin-right: 32px;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  img {
    margin-right: 10px;
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #5C5C5C;
  }
}
