.card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  width: 150px;
  height: 260px;
  padding: 20px 30px 30px 30px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }
}


.priceBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;

    color: #BDBDBD;
  }

  p {
    margin: 0;
  }
}

.price {
  display: flex;
  flex-direction: column;
}

