header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;


  .headerLeft {
    display: flex;
    align-items: center;

  }
}


.headerRight {
  display: flex;
}
